
.icon-plus:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-star-filled:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
